fastapi
uvicorn[standard]
pydantic-settings
python-dotenv
python-multipart
google-genai
earthengine-api
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-dialogflow-cx
google-cloud-firestore
google-cloud-pubsub
google-cloud-secret-manager
google-cloud-speech
google-cloud-storage
google-cloud-texttospeech
google-cloud-translate
requests
twilio
